.box-model {
    width: 50vw;
    margin: 3em auto;
}

.box-model div {
    border: 1px dashed #666;
    margin: 0 2em 2em 2em;
}

.box-model div::before {
    display: block;
    height: 2em;
    padding-left: 0.8em;
    align-content: center;
}

.box-model .margin {
    background: #ff966fff;
}

.box-model .margin::before {
    content: 'margin';
}

.box-model .border {
    background: #ffe8c6ff;
}

.box-model .border::before {
    content: 'border';
}

.box-model .padding {
    background: #85eb85ff;
}

.box-model .padding::before {
    content: 'padding';
}

.box-model .content {
    background: #a3d2e2ff;
    text-align: center;
    padding: 1em;
}