* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    font-family: Lato, sans-serif;
}

.socials li {
    display: inline-block;
    list-style: none outside;
}

.socials li a {
    display: block;
    background: #eee;
    font-size: 2em;
    width: 5rem;
    aspect-ratio: 1/1;
    text-align: center;
    line-height: 5rem;
    border-radius: 50%;
    margin: 0 0.5rem;
}

.socials li a {
    color: #000;
}

.socials li a:hover {
    background: darkorange;
    color: white;
}