@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
}

i {
    font-size: 2em;
    line-height: 0.5;
}

.site {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 2em;
}

.site > main {
    flex: 0 0 70%;
}

.site > aside {
    flex: 1 1 auto;
    display: flex;
}

article {
    background: #fff;
    padding: 2em;
}

.site > main article {
    display: flex;
    gap: 2em;
}

article .media {
    flex: 1 0 12em;
}

article .avatar {
    height: 100%;
    min-height: 6em;
    aspect-ratio: 1/1;
    background: #090;
    border-radius: 50%;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border: 0.3em solid white;
}

article p {
    padding-bottom: 1.5em;
}

article + article {
    margin-top: 2em;
}

.site aside article .media {
    padding-top: 2em;
}

.site aside article .avatar {
    min-height: 4em;
}